    .corpo {
        width: 1440px;
        height: 2268px;
        background: #FFFFFF;
        min-width: 320px;
        max-width: 800px;
        margin: auto;
    }
    
    body {
        position: absolute;
        width: 100%;
        min-width: 320px;
        max-width: 800px;
        margin: auto;
    }
    
    .text1 {
        width: 168px;
        height: 48px;
        padding-left: 147px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 41.2px;
        color: #846219;
    }
    
    .text2 {
        position: absolute;
        width: 161px;
        height: 19px;
        left: 151px;
        top: 68px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 300;
        font-size: 16.2px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 5.4px;
        color: #846219;
    }
    
    .text3header {
        position: absolute;
        width: 104px;
        height: 19px;
        left: 812px;
        top: 47px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 300;
        font-size: 16.2px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 5.4px;
        color: #846219;
    }
    
    .text4header {
        position: absolute;
        width: 82px;
        height: 19px;
        left: 1043px;
        top: 47px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 300;
        font-size: 16.2px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 5.4px;
        color: #846219;
    }
    
    .text5header {
        position: absolute;
        width: 123px;
        height: 19px;
        left: 1253px;
        top: 47px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 300;
        font-size: 16.2px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 5.4px;
        color: #846219;
    }
    
    .imgheader {
        position: absolute;
        width: 71px;
        height: 70px;
        left: 53px;
        top: 20px;
    }
    
    .img3 {
        position: absolute;
        width: 682px;
        height: 335px;
        left: 606px;
        top: 345px;
        mix-blend-mode: multiply;
    }
    
    .header {
        position: absolute;
        width: 100%;
        height: 115px;
        left: 0px;
        top: 0px;
        background: #FFFF;
    }
    
    .corpo1 {
        position: absolute;
        width: 1440px;
        height: 1024px;
        left: 0px;
        top: 0px;
        background: #E9E9E9;
    }
    
    .texth1 {
        position: absolute;
        width: 348px;
        height: 192px;
        left: 231px;
        top: 425px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 82.2px;
        line-height: 96px;
        display: flex;
        align-items: flex-end;
        color: #716565;
    }
    
    .corpo2 {
        position: absolute;
        width: 1440px;
        height: 1024px;
        left: 0px;
        top: 1024px;
        background: #506FA9;
    }
    
    .texth4 {
        position: absolute;
        width: 484px;
        height: 162px;
        left: 159px;
        top: 449px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 69.2px;
        line-height: 81px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
    
    .img2 {
        position: absolute;
        width: 1038px;
        height: 689px;
        left: 402px;
        top: 83px;
        mix-blend-mode: multiply;
    }
    
    .texth5 {
        position: absolute;
        width: 493px;
        height: 171px;
        left: 159px;
        top: 637px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 300;
        font-size: 48.2px;
        line-height: 56px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
    
    .corpo3 {
        position: absolute;
        width: 1440px;
        height: 226px;
        left: 0px;
        top: 2048px;
        background: #E9E9E9;
    }
    
    .textrod1 {
        position: absolute;
        width: 105px;
        height: 32px;
        left: 151px;
        top: 40px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 27.2px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        color: #716565;
    }
    
    .textrod2 {
        position: absolute;
        width: 85px;
        height: 32px;
        left: 579px;
        top: 40px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 27.2px;
        line-height: 32px;
        /* identical to box height */
        display: flex;
        align-items: flex-end;
        color: #716565;
    }
    
    .imgredes {
        position: absolute;
        width: 169px;
        height: 43px;
        left: 151px;
        top: 130px;
    }
    
    .p1 {
        position: absolute;
        width: 169px;
        height: 43px;
        padding-left: 579px;
        padding-top: 120px;
        padding-bottom: 0px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16.2px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        color: #716565;
    }
    /* área responsiva */
    
    @media screen and (min-width: 320px) and (max-width:568px) {
        body .header {
            position: absolute;
            height: 57px;
            left: 0px;
            top: 0px;
            background: #FFFFFF;
        }
        .corpo {
            position: relative;
            width: 320px;
            height: 1461px;
            background: #FFFFFF;
        }
        .imgheader {
            position: absolute;
            width: 40px;
            height: 39px;
            left: 140px;
            top: 8px;
        }
        .corpo1 {
            position: absolute;
            width: 320px;
            height: 568px;
            left: 0px;
            top: 0px;
            background: #E9E9E9;
        }
        .texth1 {
            position: absolute;
            width: 226px;
            height: 124px;
            left: 22px;
            top: 141px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 53.2px;
            line-height: 62px;
            display: flex;
            align-items: flex-end;
            color: #716565;
        }
        .img3 {
            position: absolute;
            width: 285px;
            height: 140px;
            left: 18px;
            top: 293px;
            mix-blend-mode: multiply;
        }
        .text1 {
            display: none;
        }
        .text2 {
            display: none;
        }
        .corpo2 {
            position: absolute;
            width: 320px;
            height: 568px;
            left: 0px;
            top: 568px;
            background: #506FA9;
        }
        .texth4 {
            position: absolute;
            width: 288px;
            height: 96px;
            left: 14px;
            top: 76px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 41.2px;
            line-height: 48px;
            display: flex;
            align-items: flex-end;
            color: #FFFFFF;
        }
        .texth5 {
            position: absolute;
            width: 293px;
            height: 90px;
            left: 14px;
            top: 194px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: 300;
            font-size: 26.2px;
            line-height: 31px;
            display: flex;
            align-items: flex-end;
            color: #FFFFFF;
        }
        .img2 {
            position: absolute;
            width: 259px;
            height: 172px;
            left: 77px;
            top: 316px;
            mix-blend-mode: multiply;
        }
        .corpo3 {
            position: absolute;
            width: 320px;
            height: 334px;
            left: 0px;
            top: 1134px;
            background: #E9E9E9;
        }
        .imgredes {
            position: absolute;
            width: 169px;
            height: 43px;
            left: 76px;
            top: 94px;
        }
        .textrod1 {
            position: absolute;
            width: 105px;
            height: 32px;
            left: 107px;
            top: 5px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 27.2px;
            line-height: 32px;
            display: flex;
            align-items: flex-end;
            color: #716565;
        }
        .textrod2 {
            position: absolute;
            width: 85px;
            height: 32px;
            left: 113px;
            top: 120px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 27.2px;
            line-height: 32px;
            display: flex;
            align-items: flex-end;
            color: #716565;
        }
        .p1 {
            position: absolute;
            width: 121px;
            height: 57px;
            left: 101px;
            top: 224px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 16.2px;
            line-height: 19px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: #716565;
        }
    }